In [1]:
import sys
import os
import findspark
findspark.init()

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
import spark
import pyspark
#from secret.txt import user,password

In [3]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.functions import *

In [4]:
#creating a spark session
spark = SparkSession.builder.appName('capstone_project').getOrCreate()

In [5]:
#read the database username and password from secret.txt
secrets_file = os.path.join("files", "secret.txt")
with open(secrets_file, "r") as f:		
    lines = f.readlines()
for line in lines:
    words = line.split("=")
    if (words[0] == "user"):
        user = words[1].strip()
    elif (words[0] == "password"):
        password = words[1].strip()

In [6]:
cdw_sapp_branch = os.path.join("files", "cdw_sapp_branch.json")

df_branch = spark.read.json(cdw_sapp_branch)

In [7]:

type(df_branch)
df_branch.show()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+
only showing top 20 rows

In [8]:
df_branch.printSchema()

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [9]:
    
df_branch.createOrReplaceTempView('branch_data')

In [10]:


spark.sql("SELECT BRANCH_CODE, BRANCH_NAME, BRANCH_STREET, BRANCH_CITY, BRANCH_STATE, \
IFNULL(branch_zip, 00000) BRANCH_ZIP, CONCAT('(', SUBSTRING(branch_phone,1,3),')', SUBSTRING(branch_phone, 4,3), '-', SUBSTRING(branch_phone,7)) BRANCH_PHONE, LAST_UPDATED \
FROM branch_data")

DataFrame[BRANCH_CODE: bigint, BRANCH_NAME: string, BRANCH_STREET: string, BRANCH_CITY: string, BRANCH_STATE: string, BRANCH_ZIP: bigint, BRANCH_PHONE: string, LAST_UPDATED: string]

In [11]:
branch_df = spark.sql("SELECT CAST(BRANCH_CODE AS INT) BRANCH_CODE, BRANCH_NAME, BRANCH_STREET, BRANCH_CITY, BRANCH_STATE, \
IFNULL(branch_zip, 00000) BRANCH_ZIP, CONCAT('(', SUBSTRING(branch_phone,1,3),')', SUBSTRING(branch_phone, 4,3), '-', SUBSTRING(branch_phone,7)) BRANCH_PHONE, LAST_UPDATED \
FROM branch_data")
branch_df.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18T16:51:...|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|2018-04-18T16:51:...|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|2018-04-18T16:51:...|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|2018-04-18T16:51:...|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|2018-04-18T16:51:...|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|2018-04-18T16:51:...|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|2018-04-18T16:51:...|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|2018-04-18T16:51:...|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18T16:51:...|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|2018-04-18T16:51:...|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|2018-04-18T16:51:...|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|2018-04-18T16:51:...|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|2018-04-18T16:51:...|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|2018-04-18T16:51:...|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|2018-04-18T16:51:...|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|2018-04-18T16:51:...|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
only showing top 20 rows

In [12]:
branch_df.printSchema()

root
 |-- BRANCH_CODE: integer (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = false)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [13]:
#sc.sql("SELECT CAST(BRANCH_CODE AS INT) BRANCH_CODE, CAST(BRANCH_ZIP as INT) BRANCH_ZIP FROM branch_data")
branch_df.createOrReplaceTempView('branch_df')

In [14]:
branch_df = spark.sql("SELECT BRANCH_CODE, BRANCH_NAME, BRANCH_STREET, BRANCH_CITY, BRANCH_STATE, \
CAST(BRANCH_ZIP as INT) BRANCH_ZIP,BRANCH_PHONE , LAST_UPDATED \
FROM branch_df")

In [15]:
branch_df.printSchema()

root
 |-- BRANCH_CODE: integer (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: integer (nullable = false)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [16]:
branch_df.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18T16:51:...|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|2018-04-18T16:51:...|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|2018-04-18T16:51:...|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|2018-04-18T16:51:...|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|2018-04-18T16:51:...|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|2018-04-18T16:51:...|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|2018-04-18T16:51:...|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|2018-04-18T16:51:...|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18T16:51:...|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|2018-04-18T16:51:...|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|2018-04-18T16:51:...|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|2018-04-18T16:51:...|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|2018-04-18T16:51:...|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|2018-04-18T16:51:...|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|2018-04-18T16:51:...|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|2018-04-18T16:51:...|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
only showing top 20 rows

In [17]:
df_branch = branch_df.withColumn('LAST_UPDATED', F.to_timestamp('LAST_UPDATED'))

In [18]:
df_branch.printSchema()

root
 |-- BRANCH_CODE: integer (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: integer (nullable = false)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)

In [19]:
df_branch.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+-------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18 15:51:47|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18 15:51:47|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18 15:51:47|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18 15:51:47|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18 15:51:47|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|2018-04-18 15:51:47|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|2018-04-18 15:51:47|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|2018-04-18 15:51:47|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|2018-04-18 15:51:47|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|2018-04-18 15:51:47|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|2018-04-18 15:51:47|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|2018-04-18 15:51:47|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18 15:51:47|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|2018-04-18 15:51:47|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|2018-04-18 15:51:47|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|2018-04-18 15:51:47|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|2018-04-18 15:51:47|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|2018-04-18 15:51:47|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|2018-04-18 15:51:47|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|2018-04-18 15:51:47|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+-------------------+
only showing top 20 rows

In [20]:
df_branch.printSchema()

root
 |-- BRANCH_CODE: integer (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: integer (nullable = false)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)

In [21]:
df_branch.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+-------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|       LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+-------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18 15:51:47|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18 15:51:47|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18 15:51:47|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18 15:51:47|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18 15:51:47|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|2018-04-18 15:51:47|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|2018-04-18 15:51:47|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|2018-04-18 15:51:47|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|2018-04-18 15:51:47|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|2018-04-18 15:51:47|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|2018-04-18 15:51:47|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|2018-04-18 15:51:47|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18 15:51:47|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|2018-04-18 15:51:47|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|2018-04-18 15:51:47|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|2018-04-18 15:51:47|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|2018-04-18 15:51:47|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|2018-04-18 15:51:47|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|2018-04-18 15:51:47|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|2018-04-18 15:51:47|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+-------------------+
only showing top 20 rows

In [22]:

df_branch.write.format("jdbc") \
.mode("append") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.cdw_sapp_branch") \
.option("user", user) \
.option("password", password) \
.save()

In [23]:
spark.stop()

In [24]:
# ALTER TABLE `creditcard_capstone`.`cdw_sapp_branch` 
# CHANGE COLUMN `BRANCH_NAME` `BRANCH_NAME` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `BRANCH_STREET` `BRANCH_STREET` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `BRANCH_CITY` `BRANCH_CITY` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `BRANCH_STATE` `BRANCH_STATE` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `BRANCH_PHONE` `BRANCH_PHONE` VARCHAR(45) NULL DEFAULT NULL ;