In [1]:
import sys
import os
import findspark
findspark.init()

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
import spark
import pyspark

In [3]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.functions import *

In [4]:
spark = SparkSession.builder.appName('capstone_project').getOrCreate()

In [5]:
#read the database username and password from secret.txt
secrets_file = os.path.join("files", "secret.txt")
with open(secrets_file, "r") as f:		
    lines = f.readlines()
for line in lines:
    words = line.split("=")
    if (words[0] == "user"):
        user = words[1].strip()
    elif (words[0] == "password"):
        password = words[1].strip()
#print(user, password)

In [6]:
# creating creditcard datafram from the json file
cdw_sapp_credit = os.path.join("files", "cdw_sapp_credit.json")

df_creditcard = spark.read.json(cdw_sapp_credit)

In [7]:

type(df_creditcard)
df_creditcard.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

In [8]:
df_creditcard.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

In [9]:
    
df_creditcard.createOrReplaceTempView('credit_data')

In [10]:
creditcard_df = spark.sql('SELECT CREDIT_CARD_NO CUST_CC_NO,\
         CONCAT(YEAR, LPAD(Month, 2, 0), \
         LPAD(Day, 2, 0)) TIMEID, \
         CUST_SSN,\
         BRANCH_CODE,\
         TRANSACTION_TYPE,\
         TRANSACTION_VALUE,\
         TRANSACTION_ID \
 FROM credit_data')

# credit_tr = spark.sql('SELECT CREDIT_CARD_NO CUST_CC_NO,\
#          CONCAT(YEAR, LPAD(Month, 2, 0), \
#          LPAD(Day, 2, 0)) TIMEID, \
#          CUST_SSN,\
#          BRANCH_CODE,\
#          TRANSACTION_TYPE,\
#          TRANSACTION_VALUE,\
#          TRANSACTION_ID \
#  FROM cdw_sapp_creditcard')

creditcard_df.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [11]:
creditcard_df.createOrReplaceTempView('credit_df')

In [12]:
creditcard_df.printSchema()

root
 |-- CUST_CC_NO: string (nullable = true)
 |-- TIMEID: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)

In [13]:
creditcard_df = spark.sql("SELECT CUST_CC_NO, TIMEID, CAST(CUST_SSN AS INT) CUST_SSN, \
CAST(BRANCH_CODE AS INT) BRANCH_CODE, TRANSACTION_TYPE, CAST(TRANSACTION_VALUE AS DOUBLE) TRANSACTION_VALUE, \
CAST(TRANSACTION_ID AS INT) TRANSACTION_ID FROM credit_df")

In [14]:
creditcard_df.printSchema()

root
 |-- CUST_CC_NO: string (nullable = true)
 |-- TIMEID: string (nullable = true)
 |-- CUST_SSN: integer (nullable = true)
 |-- BRANCH_CODE: integer (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- TRANSACTION_ID: integer (nullable = true)

In [15]:
creditcard_df.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [16]:

creditcard_df.write.format("jdbc") \
.mode("append") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.cdw_sapp_credit_card") \
.option("user", user) \
.option("password", password) \
.save()

In [17]:
spark.stop()

In [18]:
# ALTER TABLE `creditcard_capstone`.`cdw_sapp_credit_card` 
# CHANGE COLUMN `CUST_CC_NO` `CUST_CC_NO` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `TIMEID` `TIMEID` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `TRANSACTION_TYPE` `TRANSACTION_TYPE` VARCHAR(45) NULL DEFAULT NULL ;