In [1]:
import sys
import os
import findspark
findspark.init()

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
import spark
import pyspark

In [3]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.functions import *

In [4]:
#read the database username and password from secret.txt
secrets_file = os.path.join("files", "secret.txt")
with open(secrets_file, "r") as f:		
    lines = f.readlines()
for line in lines:
    words = line.split("=")
    if (words[0] == "user"):
        user = words[1].strip()
    elif (words[0] == "password"):
        password = words[1].strip()
f.close()

In [5]:
spark = SparkSession.builder.appName('capstone_project').getOrCreate()

In [6]:
cdw_sapp_customer = os.path.join("files", "cdw_sapp_custmer.json")

df_customer = spark.read.json(cdw_sapp_customer)

In [7]:

type(df_customer)
df_customer.show()

+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|
|   622|4210653310817373|  Youngstown|United States|EThomson@example.com|   1241363|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      Denny|123457639|    Cypress Court|
|   924|4210653310844617| Summerville|United States| ETruong@example.com|   1236228|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   Isabelle|123453242|  8th Street West|
|   611|4210653311015303|      ElPaso|United States|HMckinney@example...|   1238165|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      Henry|123454339|      East Avenue|
|   680|4210653311215039|      Fenton|United States|   RKidd@example.com|   1234730|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     Rickey|123454537|         Route 44|
|    71|4210653311229354|  Grandville|United States|ABallard@example.com|   1242113|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  Heriberto|123452373|    Warren Street|
|   195|4210653311652836|    YubaCity|United States| PThomas@example.com|   1239888|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   Angelita|123455343|     Jones Street|
|   500|4210653311707126|   CapeCoral|United States| JMorrow@example.com|   1240158|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   Dorothea|123451533|       New Street|
|   989|4210653311730764|  Brookfield|United States|NAndrews@example.com|   1241408|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  Jefferson|123459278|  Division Street|
|   810|4210653311898082|    Richmond|United States|MSchneider@exampl...|   1238390|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     Maximo|123456915|     Maple Street|
|   649|4210653312021765| WestChester|United States|PTidwell@example.com|   1235067|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    Arnulfo|123453807|       Eagle Road|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
only showing top 20 rows

In [8]:
df_customer.printSchema()

root
 |-- APT_NO: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: long (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- STREET_NAME: string (nullable = true)

In [9]:
    
df_customer.createOrReplaceTempView('customer_data')

In [10]:
customer_df=spark.sql("SELECT CAST(SSN AS INT) SSN, \
CONCAT(UCASE(SUBSTRING(FIRST_NAME,1,1)), LCASE(SUBSTRING(FIRST_NAME,2))) FIRST_NAME, \
LOWER(MIDDLE_NAME) MIDDLE_NAME, \
CONCAT(UCASE(SUBSTRING(last_name,1,1)), LCASE(SUBSTRING(last_name,2))) LAST_NAME, \
Credit_card_no, \
CONCAT(APT_NO,' ,',STREET_NAME) FULL_STREET_ADDRESS, \
CUST_CITY, CUST_STATE, CUST_COUNTRY, CUST_ZIP, CONCAT(SUBSTRING(cust_phone, 1,3), '-',SUBSTRING(cust_phone,4)) CUST_PHONE, \
CUST_EMAIL, LAST_UPDATED FROM customer_data")

In [11]:

customer_df.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_card_no| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656 ,Main Street ...|     Natchez|        MS|United States|   39120|  123-7818| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  829 ,Redwood Drive|Wethersfield|        CT|United States|   06109|  123-8933| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683 ,12th Street ...|     Huntley|        IL|United States|   60142|  124-3018| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253 ,Country Club...|   NewBerlin|        WI|United States|   53151|  124-3215|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| 301 ,Madison Street|      ElPaso|        TX|United States|   79930|  124-2074|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   3 ,Colonial Drive|NorthOlmsted|        OH|United States|   44070|  124-2570|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  84 ,Belmont Avenue|      Vienna|        VA|United States|   22180|  123-9685|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   728 ,Oxford Court|      Duarte|        CA|United States|   91010|  123-8213| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   81 ,Forest Street|      Owosso|        MI|United States|   48867|  124-0689|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   561 ,Court Street|        Zion|        IL|United States|   60099|  123-5222|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  622 ,Cypress Court|  Youngstown|        OH|United States|   44512|  124-1363|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|924 ,8th Street West| Summerville|        SC|United States|   29483|  123-6228| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    611 ,East Avenue|      ElPaso|        TX|United States|   79930|  123-8165|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       680 ,Route 44|      Fenton|        MI|United States|   48430|  123-4730|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   71 ,Warren Street|  Grandville|        MI|United States|   49418|  124-2113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   195 ,Jones Street|    YubaCity|        CA|United States|   95993|  123-9888| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     500 ,New Street|   CapeCoral|        FL|United States|   33904|  124-0158| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|989 ,Division Street|  Brookfield|        WI|United States|   53045|  124-1408|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   810 ,Maple Street|    Richmond|        VA|United States|   23223|  123-8390|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     649 ,Eagle Road| WestChester|        PA|United States|   19380|  123-5067|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
only showing top 20 rows

In [12]:
customer_df.printSchema()

root
 |-- SSN: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- Credit_card_no: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [13]:
#df_customer.createOrReplaceTempView('customer_df')
customer_df.columns

['SSN',
 'FIRST_NAME',
 'MIDDLE_NAME',
 'LAST_NAME',
 'Credit_card_no',
 'FULL_STREET_ADDRESS',
 'CUST_CITY',
 'CUST_STATE',
 'CUST_COUNTRY',
 'CUST_ZIP',
 'CUST_PHONE',
 'CUST_EMAIL',
 'LAST_UPDATED']

In [14]:
customer_df.createOrReplaceTempView('customer_df')

In [15]:
#sc.sql("SELECT CAST(CUST_ZIP as INT) CUST_ZIP FROM customer_data")
customer_df=spark.sql("SELECT SSN, FIRST_NAME, MIDDLE_NAME, LAST_NAME, Credit_Card_no, FULL_STREET_ADDRESS, CUST_CITY,CUST_STATE, \
CUST_COUNTRY, CAST(CUST_ZIP as INT) CUST_ZIP, CUST_PHONE, CUST_EMAIL, LAST_UPDATED FROM customer_df")

In [16]:
# customer_df = sc.sql("SELECT SSN,  FIRST_NAME, \
#  MIDDLE_NAME, LAST_NAME, Credit_card_no, FULL_STREET_ADDRESS, CUST_CITY, CUST_STATE, \
# CUST_COUNTRY,CAST(CUST_ZIP as INT) CUST_ZIP,CUST_PHONE , CUST_EMAIL,LAST_UPDATED \
# FROM customer_df")

In [17]:
customer_df.printSchema()

root
 |-- SSN: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- Credit_Card_no: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: integer (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [18]:
customer_df.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_Card_no| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656 ,Main Street ...|     Natchez|        MS|United States|   39120|  123-7818| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  829 ,Redwood Drive|Wethersfield|        CT|United States|    6109|  123-8933| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683 ,12th Street ...|     Huntley|        IL|United States|   60142|  124-3018| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253 ,Country Club...|   NewBerlin|        WI|United States|   53151|  124-3215|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| 301 ,Madison Street|      ElPaso|        TX|United States|   79930|  124-2074|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   3 ,Colonial Drive|NorthOlmsted|        OH|United States|   44070|  124-2570|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  84 ,Belmont Avenue|      Vienna|        VA|United States|   22180|  123-9685|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   728 ,Oxford Court|      Duarte|        CA|United States|   91010|  123-8213| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   81 ,Forest Street|      Owosso|        MI|United States|   48867|  124-0689|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   561 ,Court Street|        Zion|        IL|United States|   60099|  123-5222|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  622 ,Cypress Court|  Youngstown|        OH|United States|   44512|  124-1363|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|924 ,8th Street West| Summerville|        SC|United States|   29483|  123-6228| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    611 ,East Avenue|      ElPaso|        TX|United States|   79930|  123-8165|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       680 ,Route 44|      Fenton|        MI|United States|   48430|  123-4730|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   71 ,Warren Street|  Grandville|        MI|United States|   49418|  124-2113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   195 ,Jones Street|    YubaCity|        CA|United States|   95993|  123-9888| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     500 ,New Street|   CapeCoral|        FL|United States|   33904|  124-0158| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|989 ,Division Street|  Brookfield|        WI|United States|   53045|  124-1408|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   810 ,Maple Street|    Richmond|        VA|United States|   23223|  123-8390|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     649 ,Eagle Road| WestChester|        PA|United States|   19380|  123-5067|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
only showing top 20 rows

In [19]:
df_customer = customer_df.withColumn('LAST_UPDATED', F.to_timestamp('LAST_UPDATED'))

In [20]:
df_customer.printSchema()

root
 |-- SSN: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- Credit_Card_no: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: integer (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: timestamp (nullable = true)

In [21]:
df_customer.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_Card_no| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|       LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656 ,Main Street ...|     Natchez|        MS|United States|   39120|  123-7818| AHooper@example.com|2018-04-21 11:49:02|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  829 ,Redwood Drive|Wethersfield|        CT|United States|    6109|  123-8933| EHolman@example.com|2018-04-21 11:49:02|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683 ,12th Street ...|     Huntley|        IL|United States|   60142|  124-3018| WDunham@example.com|2018-04-21 11:49:02|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253 ,Country Club...|   NewBerlin|        WI|United States|   53151|  124-3215|  EHardy@example.com|2018-04-21 11:49:02|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| 301 ,Madison Street|      ElPaso|        TX|United States|   79930|  124-2074|  WAyers@example.com|2018-04-21 11:49:02|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   3 ,Colonial Drive|NorthOlmsted|        OH|United States|   44070|  124-2570|BWoodard@example.com|2018-04-21 11:49:02|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  84 ,Belmont Avenue|      Vienna|        VA|United States|   22180|  123-9685|   SKemp@example.com|2018-04-21 11:49:02|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   728 ,Oxford Court|      Duarte|        CA|United States|   91010|  123-8213| WHurley@example.com|2018-04-21 11:49:02|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   81 ,Forest Street|      Owosso|        MI|United States|   48867|  124-0689|AGilmore@example.com|2018-04-21 11:49:02|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   561 ,Court Street|        Zion|        IL|United States|   60099|  123-5222|    BLau@example.com|2018-04-21 11:49:02|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  622 ,Cypress Court|  Youngstown|        OH|United States|   44512|  124-1363|EThomson@example.com|2018-04-21 11:49:02|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|924 ,8th Street West| Summerville|        SC|United States|   29483|  123-6228| ETruong@example.com|2018-04-21 11:49:02|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    611 ,East Avenue|      ElPaso|        TX|United States|   79930|  123-8165|HMckinney@example...|2018-04-21 11:49:02|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       680 ,Route 44|      Fenton|        MI|United States|   48430|  123-4730|   RKidd@example.com|2018-04-21 11:49:02|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   71 ,Warren Street|  Grandville|        MI|United States|   49418|  124-2113|ABallard@example.com|2018-04-21 11:49:02|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   195 ,Jones Street|    YubaCity|        CA|United States|   95993|  123-9888| PThomas@example.com|2018-04-21 11:49:02|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     500 ,New Street|   CapeCoral|        FL|United States|   33904|  124-0158| JMorrow@example.com|2018-04-21 11:49:02|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|989 ,Division Street|  Brookfield|        WI|United States|   53045|  124-1408|NAndrews@example.com|2018-04-21 11:49:02|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   810 ,Maple Street|    Richmond|        VA|United States|   23223|  123-8390|MSchneider@exampl...|2018-04-21 11:49:02|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     649 ,Eagle Road| WestChester|        PA|United States|   19380|  123-5067|PTidwell@example.com|2018-04-21 11:49:02|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+-------------------+
only showing top 20 rows

In [22]:

df_customer.write.format("jdbc") \
.mode("append") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.cdw_sapp_customer") \
.option("user", user) \
.option("password", password) \
.save()

In [23]:
spark.stop()

In [24]:
# ALTER TABLE `creditcard_capstone`.`cdw_sapp_customer` 
# CHANGE COLUMN `FIRST_NAME` `FIRST_NAME` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `MIDDLE_NAME` `MIDDLE_NAME` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `LAST_NAME` `LAST_NAME` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `Credit_Card_no` `Credit_Card_no` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `FULL_STREET_ADDRESS` `FULL_STREET_ADDRESS` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `CUST_CITY` `CUST_CITY` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `CUST_STATE` `CUST_STATE` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `CUST_COUNTRY` `CUST_COUNTRY` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `CUST_PHONE` `CUST_PHONE` VARCHAR(45) NULL DEFAULT NULL ,
# CHANGE COLUMN `CUST_EMAIL` `CUST_EMAIL` VARCHAR(45) NULL DEFAULT NULL ;